@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
}

    <section id="Login">
        <div class="container">
            <h1>Login</h1>
            <form method="post">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="text" class="form-control" name="u.Email" id="inputEmail" aria-describedby="nomeHelp" placeholder="Digite seu email">
                </div>
                <div class="form-group">
                    <label for="inputSenha">Senha</label>
                    <input type="password" name="u.Senha" class="form-control" id="inputSenha" placeholder="Digite sua senha">
                </div>
                <ul>
                    <li>
                        <a href="/Cadastro/"><i class="fa fa-user"></i> Crie uma conta</a>
                    </li>
                </ul>
                <br /><br />
                <button type="button" id="botaoLogar" class="btn btn-primary">Logar</button>
            </form>
        </div>
        <div class="modal fade" id="ModalLogado" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <h4>Logado com sucesso !!!!!</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form">
                            <div class="form-group">
                                <label for="usrname">Encaminhando para a home</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("OK", "Index", "Home", null, new { @class = "btn btn-success pull-left" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModalErroLogado" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <h4>Erro ao logar</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form">
                            <div class="form-group">
                                <label for="usrname">email e senha erradas</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="botaoModalErro" class="btn btn-success pull-left" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModalErros" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <h4>Erros:</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form">
                            <div class="form-group">
                                <ul id="erro" class="lista-erro"></ul>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="botaoModalErro" class="btn btn-success  pull-left" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>

    logar = function (email, senha) {
        $.post("/Login/Autentica", { email, senha }, function (resposta) {
            if (resposta == "Logado") {
                $("#ModalLogado").modal();
            }
            else
                $("#ModalErroLogado").modal();
        });
    }

    $("#botaoLogar").on("click", function () {
        validar()
    });

    validar = function () {
        var email = $("#inputEmail").val();
        var senha = $("#inputSenha").val();
        var erro = false;

        if (email == null || email == "") {
            $("#erro").append("<li>Email errado</li>");
            erro = true;
        }

        if (senha == null || senha == "") {
            $("#erro").append("<li>Senha errado</li>");
            erro = true;
        }

        if (!erro) {
            logar(email, senha)
        }

        if (erro) {
            $("#ModalErros").modal();
        }
    }

    $("#botaoModalErro").on("click", function () {
        $("li").remove();
    });

</script>


