@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
}

<section id="Login">
    <div class="container">
        <h1>Cadastrar</h1>
        <div>
            <form action="/Cadastro/Cadastrar" method="post">
                <ul>
                    <li><label>@Html.ActionLink("Entrar", "Index", "Login", null, new { @class = "nav-link" })</label></li>
                    <li>
                        <label class="field a-field a-field_a3 page__field">
                            <input class="field__input a-field__input" name="u.Nome" required>
                            <span class="a-field__label-wrap">
                                <span class="a-field__label">Nome</span>
                            </span>
                        </label>
                        <label class="field a-field a-field_a3 page__field">
                            <input class="field__input a-field__input" name="data" id="datepicker" required>
                            <span class="a-field__label-wrap">
                                <span class="a-field__label">Aniversario</span>
                            </span>
                        </label>
                    </li>
                    <li>
                        <label class="field a-field a-field_a3 page__field">
                            <input class="field__input a-field__input" name="u.Email" type="email" required>
                            <span class="a-field__label-wrap">
                                <span class="a-field__label">Email</span>
                            </span>
                        </label>
                        <label class="field a-field a-field_a3 page__field">
                            <input class="field__input a-field__input" type="email" required>
                            <span class="a-field__label-wrap">
                                <span class="a-field__label">Confirmar email</span>
                            </span>
                        </label>
                    </li>
                    <li>
                        <label class="field a-field a-field_a3 page__field">
                            <input class="field__input a-field__input" name="u.Senha" type="password" required>
                            <span class="a-field__label-wrap">
                                <span class="a-field__label">Senha</span>
                            </span>
                        </label>
                        <label class="field a-field a-field_a3 page__field">
                            <input class="field__input a-field__input" type="password" required>
                            <span class="a-field__label-wrap">
                                <span class="a-field__label">Confirmar senha</span>
                            </span>
                        </label>
                    </li>
                    <li><button class="button" id="cadastrar" type="submit" value="Cadastrar">Cadastrar</button></li>
                </ul>
            </form>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <h4>Cadastrado com sucesso !!!!!</h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <form role="form">
                                <div class="form-group">
                                    <label for="usrname">Agora voce ja pode começar a fazer suas apostas</label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success btn-block pull-left" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(calendario = function () {
        $("#datepicker").datepicker();
    });

    $(document).ready(function () {
        $("#cadastrar").click(function () {
            $("#myModal").modal();
        });
    });
</script>
