<section id="apostas">
    <div class="container">
        <div id="main-col">
            <h1>Principais apostas</h1>
            <div class="aposta">                                    
                @foreach (ProjetoBolao.Models.Jogo j in ViewBag.Jogos)
                {
                    ProjetoBolao.Models.Time timeA = ProjetoBolao.DAO.TimeDAO.Time(j.CodTimeA);
                    ProjetoBolao.Models.Time timeB = ProjetoBolao.DAO.TimeDAO.Time(j.CodTimeB);
                    <ul>
                        <li><img src="@timeA.Foto"><h4>@timeA.Nome</h4></li>
                        <li><img src="@timeB.Foto"><h4>@timeB.Nome</h4></li>
                    </ul>
                }
            </div>          
        </div>
    </div>
</section>