
@{
    Layout = "~/Views/Shared/_Perfil.cshtml";

    List<ProjetoBolao.Models.Time> t = ViewBag.Times;
}
<section id="admin">
    <div class="container">
        <br /><br />
        <h1>Adicionando jogo.....</h1>
        <a class="nav-link" href="/Admin">&#8630; Voltar</a>
        <br /><br />
        <form action="/Admin/JogoNovo">
            <div class="container-fluid">
                <div class="card-group">
                    <!-- Card 1 -->
                    <div class="card">
                        <div class="card-body">
                            <img src="" alt="Foto do time" id="fotoTimeA">
                        </div>
                        <div class="card-footer">
                            <select class="custom-select my-1 mr-sm-2" onchange="mudouA(this)">
                                <option></option>
                                @foreach (ProjetoBolao.Models.Time time in t)
                                {
                                    <option>@time.NomeTime</option>
                                }
                            </select>
                            <input type="hidden" name="j.CodTimeA" id="idTimeA" value=""/>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="card">
                        <div class="card-body ">
                            <img src="" alt="Foto do time" id="fotoTimeB">
                        </div>
                        <div class="card-footer">
                            <select class="custom-select my-1 mr-sm-2" onchange="mudouB(this)">
                                <option></option>
                                @foreach (ProjetoBolao.Models.Time time in t)
                                {
                                    <option>@time.NomeTime</option>
                                }
                            </select>
                            <input type="hidden" name="j.CodTimeB" id="idTimeB" value=""/>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <button class="btn btn-primary" type="submit">Adicionar</button>
        </form>
    </div>
</section>
<script>

    mudouA = function (times) {
        $.post("/Admin/TimeJson", { nome: times.options[times.selectedIndex].innerHTML }, function (resposta) {
            $("#fotoTimeA").attr("src", resposta.Foto);
            $("#idTimeA").attr("value", resposta.Id);
        });
    }

    mudouB = function (times) {
        $.post("/Admin/TimeJson", { nome: times.options[times.selectedIndex].innerHTML }, function (resposta) {
            $("#fotoTimeB").attr("src", resposta.Foto);
            $("#idTimeB").attr("value", resposta.Id);
        });
    }

</script>
